* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #f8f8f8;
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
}

.app-title{
  font-size: 4.5rem;
  font-family:"Ovo", serif;
  margin: 20px 0;
  padding: 10px;
}

.home h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home p {
  font-size: 1.2rem;
  margin-top: 5px;
}

/* Adjust the layout for home page */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.zip-code-container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.zip-code-input {
    margin-top: 2px;
    margin-left: 2px;
    font-size: 1rem;
}

.app-container {
  width: 100%;
}

.map-container {
  width: 50%;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.resource-directory-container {
  width: 50%;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  align-items: center;
  position: relative;
}


ul {
  list-style: none;
}

ul li {
  margin-bottom: 5px;
  align-items: left;
}

@media (min-width: 768px) {
  .map-container {
    flex: 0.6;
  }

  .resource-directory-container {
    flex: 0.4;
  }
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
} */

/* Hamburger menu styles */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .burger {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
  transition: 0.4s;
}

.hamburger.open .burger:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .burger:nth-child(2) {
  opacity: 0;
}

.hamburger.open .burger:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for the hamburger menu */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 0;
    width: 25%;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
}
